/*--------------Navbar---------------*/
.navbar {
	position: absolute;
	width: 100%;
	background-color: #262626;
}

.fixed {
	position: fixed;
	top: 0;
	transition: top 0.5s;
}

.tabs {
	float: right;
	margin: 0;
	height: auto;
}

.navbar li {
    list-style-type: none;
    color: white;
    float: left;
    margin: 0;
	font-family: 'Poppins', serif;
	padding: .5em .7em;
}

.navbar li:hover {
}

.navbar ul {
	margin: 0;
}

.name {
	font-family: 'Poppins';
	font-weight: bolder;
	margin: 0;
	display: inline-block;
	font-size: 1em;
	padding: .5em .7em;
	color: white;
}

.highlight {
	height: .2em;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #00c99e;
}

#active {
	background-color: #00c99e;
	font-weight: bold;
}